.card{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: solid 2px;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
    
}
.card img{
    width: 100%;

}
.container-cards{
    display:flex;
    flex-wrap: wrap;
    

}